.container{
    height: 100%;
    justify-content: center;
    align-items: center;
    display: none;
}

#form {
    display: flex;
    gap: 10px;
    text-align: center;
    width: 300px;
    padding: 20px;
    background: rgb(2, 0, 36);
    background: linear-gradient(274deg, rgba(2, 0, 36, 1) 0%, rgb(49 6 6) 0%, rgb(0, 21, 52) 100%);    border-radius: 50px;
    font-size: 12px;
    border: 2px solid black;
    flex-direction: column;
    justify-content: center;
}

#form h1{
    color: whitesmoke;
    text-align: center;
}

.allbrackets h2{
    margin:0;
    font-size: 18px;
    font-family: 'Games', sans-serif;
}

#form button{
    border: 1px solid #000000;
    border-radius: 50px;
    display: block;
    padding: 10px;
    width: 90%;
    color: white;
    background: #4c1983;
    margin: auto;
    cursor: pointer;
}

#form button:hover{
    background-color: #7221c9;
}

.input-control.success input{
    border-color: green;
}

.input-control.error input{
    border-color: red;
}

.input-control .error{
    color: red;
    margin-top: 10px;
    font-size: 16px;
    height: 25px;
}

/* .submit:disabled */

/* .submit input {
    border: 1px solid #000000;
    border-radius: 50px;
    display: block;
    padding: 10px;
    width: 90%;
    color: white;
    background: #4c1983;
    margin: auto;
    cursor: pointer;
} */

/* .submit button {

} */


/* .submit input:hover {
    
    background-color: #7221c9;
} */